# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/
ENV/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

# Node
node_modules/

# General
*.swp
*.swo
*.bak
*.tmp
*.orig

# GitHub Actions
.github/workflows/*.log
